<html>
<head> 
    <link rel="stylesheet" href="/static/basic.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<p>
  <a href="#" title="Love it" class="btn btn-counter" data-count="0"><span>&#x2764;</span> Enjoying the Cocktails?</a>
</p>
<div class="card">
  <h1>New Cocktail in:</h1>
  <span id="countdown" style="font-weight: bold;"></span>
  
  </div>

   
</body>
<script src="/static/basic.js" type="text/javascript"></script>

</html>
{% block content %}
{% endblock %}