<head>
    <link rel="stylesheet" href="/static/team.css">
</head>

<div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/IMG_4902.jpg" alt="Krishna" style="width:90%">
        <div class="container">
          <h2>Krishna Madala</h2>
          <p class="title">Team Lead</p>
          <p>Hi I'm Krishna, I am a student at Babson College learning python and I am currently building swaperator.com a block explorer for the ethereum network.</p>
          <p>Krishna@swaperator.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/Brandon.jpeg" alt="Brandon" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Brandon Chin</p>
          <p>Hi I'm Brandon, I'm a student at Babson College learning python currently working in the finance space.</p>
          <p>bchin1@babson.edu</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    
  </div>